{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<table class="peopletable">
    <tr>
        <td><h1>All People</h1></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
    </tr>
    {% for person in object_list %}
    <tr>
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name}}</td>
        <td>{{ person.email }} </td>
    </tr>
    {% empty %}
    <tr>
        <td>No People Added!</td>
    </tr>
    {% endfor %}
</table>
